@import url('https://fonts.cdnfonts.com/css/satoshi');


.authors-page {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #646464;
    margin-top: -20px;
}

.authors-table table {
    font-family: 'Satoshi';
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(41, 41, 41, 0.08) !important;
    border-radius: 4px !important;
    background: #FFFFFF;
    margin-top: 20px;
}

.authors-table th,
.authors-table td {
    padding: 8px 20px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.authors-table th { /* header */
    height: 25px;
    background: #E9E9ED;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #464646;
}

.authors-table td { /* body */
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    height: 55px;
    line-height: 20px;
    color: #0B0B0B;
    border-bottom: 1px solid #E6E6E6;
}

.authors-table tr:last-child td {
    border-bottom: none;
}