@import url('https://fonts.cdnfonts.com/css/satoshi');


.authors {
    width: 146px;
    height: 35px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    text-align: right;
    color: #0B0B0B;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: -65px;
    margin-bottom: 30px;
    margin-top: 30px;
}