@import url('https://fonts.cdnfonts.com/css/satoshi');

.recover-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}

.recover-password-box {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    max-width: 90%;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.logo img {
    width: 60px;
    height: 65px;
}

h2 {
    font-family: 'Satoshi';
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-family: 'Satoshi';
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Satoshi';
    margin-left: 4px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Satoshi';
}

.password-input-wrapper {
    position: relative;
    width: 100%;
}

.password-input-wrapper input {
    width: 100%;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-password:focus {
    outline: none;
}

.toggle-password svg {
    width: 16px;
    height: 16px;
}

.submit-button {
    background-color: #1611C4;
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #004bbd;
}

.error-popup,
.success-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: slideIn 0.5s ease-out, slideOut 0.5s ease-in forwards 2.5s;
}

.error-popup {
    background-color: #ff4d4d;
    color: white;
}

.success-popup {
    background-color: #4CAF50;
    color: white;
}

.error-popup p,
.success-popup p {
    font-family: 'Satoshi';
    font-size: 20px;
    margin: 0;
    color: #FFFFFF;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}